<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="adojado_qr_add_products_to_queue" xsi:type="object">
                    Adojado\Qr\Console\Command\AddProductsToQueue
                </item>
            </argument>
        </arguments>
    </type>
</config>
